.text-center
  h2 Registry
  
  h5 We are registered at #{link_to 'Amazon', 'https://www.amazon.com/wedding/ben-saufley-jelena-raki-south-portland-october-2016/registry/ZP245FTDSUR', target: '_blank'}.
