section#top
  h1 The Exchanging of Wows
section#where-when = render 'static_pages/where_when'
section#rsvp = render 'static_pages/rsvp', rsvp: @rsvp
section#registries = render 'static_pages/registries'
section#contact = render 'static_pages/contact'
section#song-requests = render 'static_pages/song_requests'
