main {
  position: relative;
  
  @include breakpoint(medium) {
    padding-top: rem-calc(57);

    > section {
      padding-bottom: rem-calc(57);

      h2 {
        color: $light-plum;
      }
    }

    > section + section {
      padding-top: rem-calc(57);
    }
  }

  section {
    align-items: center;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 90vh;

    > .row {
      position: relative;
      width: 100%;
      z-index: 3;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;

  small,
  &.subheader {
    font-family: $block-font;
  }
}

h3,
h4,
h5,
h6 {
  font-family: $block-font;

  span {
    font-family: $script-font;
  }
}

.relative {
  position: relative;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

%white-wood {
  background-attachment: scroll;
  background-image: image-url('white-wood.jpg');
  border-bottom: 3px solid transparentize($black, .8);
  border-top: 3px solid transparentize($white, .2);
}
