body {
  background: #fff image-url('watercolor-stripe.jpg') no-repeat 5% center;
  background-attachment: fixed;
  background-size: auto 100vh;

  .touch & {
    background: transparent;

    &:before {
      background: #fff image-url('watercolor-stripe.jpg') no-repeat 5% center;
      background-size: auto 120vh;
      content: '\00A0';
      display: block;
      height: 120vh;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}

main {
  padding-top: rem-calc(40);
  position: relative;
  
  @include breakpoint(medium) {
    padding-top: rem-calc(57);

    > section {
      padding-bottom: rem-calc(57);

      h2 {
        color: $light-plum;
      }
    }

    > section + section {
      padding-top: rem-calc(57);
    }
  }

  section {
    align-items: center;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 90vh;

    .touch & {
      background-attachment: scroll;
    }

    > .row {
      position: relative;
      width: 100%;
      z-index: 3;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;

  small,
  &.subheader {
    font-family: $block-font;
  }
}

h3,
h4,
h5,
h6 {
  font-family: $block-font;

  span {
    font-family: $script-font;
  }
}

.relative {
  position: relative;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

%white-wood {
  background-attachment: scroll;
  background-image: image-url('white-wood.jpg');
  border-bottom: 3px solid transparentize($black, .8);
  border-top: 3px solid transparentize($white, .2);
}
