main {
  position: relative;

  section {
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    min-height: 90vh;

    > .row {
      position: relative;
      z-index: 3;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small,
  &.subheader {
    font-family: 'Tallow TC', $body-font-family;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tallow TC', $body-font-family;

  span {
    font-family: 'Midnight', script;
  }
}

.relative {
  position: relative;
}
