$photo-count: 74;
$section-count: 5;
$page-height: $section-count * 90;

@include breakpoint(medium) {
  main > section {
    // need this on a new container element - affecting the topbar too currently
    padding-left: ((2 * $page-height / $photo-count) + (2 * $page-height / ($photo-count * 3))) / 3 * 8 - ($page-height / ($photo-count * 3)) + vh;
  }
}

.couple-photos {
  display: none;

  @include breakpoint(medium) {
    background: linear-gradient(to right, $slate, transparentize($slate, 1) 70%);
    bottom: 0;
    display: block;
    left: -3vw;
    list-style: none;
    margin: 0;
    position: absolute;
    top: rem-calc(57);
    width: 18vw;
    z-index: 1;
  }

  li {
    filter: drop-shadow(0 2px 4px transparentize($slate, .3));
    float: left;
    height: 200% / $photo-count;
    position: relative;
    transition: transform .5s;
    width: 9vw;

    img {
      border: solid $white;
      border-width: 1vh;
      cursor: default;
      display: inline-block;
      margin-top: -15%;
      max-height: 150%;
      transition: transform .5s;
    }

    &:nth-child(2n) {
      text-align: left;
    }

    &:nth-child(2n + 1) {
      clear: left;
      text-align: right;
    }

    &:hover {
      transform: scale(1.15);
      z-index: 10;
    }

    @for $i from 1 through $photo-count {
      $transform: rotate(#{random(90) - 45}deg);

      &:nth-child(#{$i}) {
        img {
          transform: $transform;

          &:hover {
            transform: rotate(-5deg);
          }
        }
      }
    }
  }
}
