$white: #fff;
$black: #000;
$light-plum: #6c576d;
$plum: #380e2c;
$slate: #262429;
$border-gray: #efefef;

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$block-font: 'Tallow Sans TC', $body-font-family;
$script-font: 'Midnight', script;
