$white: #fff;
$black: #000;
$light-plum: #9f778d;
$plum: #5a1937;
$slate: #403e3a;
$border-gray: #efefef;

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$block-font: 'Tallow Sans TC', $body-font-family;
$script-font: 'Midnight', script;
