.page-footer {
  background: $slate image-url('chalkboard.jpg') no-repeat;
  background-size: cover;
  color: $white;
  min-height: 20vh;
  padding: map-get($grid-column-gutter, small) / 2;
  position: relative;
  text-align: center;
  z-index: 5;

  a:link,
  a:visited {
    border-bottom: 1px dashed;
    color: $white;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  @include breakpoint(medium) {
    padding: map-get($grid-column-gutter, medium) / 2;
  }
}
