.page-footer {
  background: $slate image-url('chalkboard.jpg') no-repeat;
  background-size: cover;
  color: $white;
  padding: map-get($grid-column-gutter, small) / 2;
  text-align: center;

  a:link,
  a:visited {
    border-bottom: 1px dashed;
    color: $white;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  @include breakpoint(medium) {
    padding: map-get($grid-column-gutter, medium) / 2;
  }
}
