#rsvp {
  background-image: image-url('leaves.jpg');

  h2 {
    color: $plum;
    font-family: $script-font;
    line-height: 1;
  }

  textarea {
    height: 6em;

    @include breakpoint(medium) {
      height: 8em;
    }
  }

  > .row {
    background: transparentize($white, .25);
    padding-bottom: map-get($grid-column-gutter, small) / 2;
    padding-top: map-get($grid-column-gutter, small) / 2;

    @include breakpoint(medium) {
      padding-bottom: map-get($grid-column-gutter, small) / 2;
      padding-top: map-get($grid-column-gutter, small) / 2;
      width: 80%;
    }

    @include breakpoint(large) {
      width: 60%;
    }
  }
}

[name*=attending][value=true] {
  ~ [type=checkbox],
  ~ [type=checkbox] + label {
    opacity: .6;
    pointer-events: none;
    transition: opacity .3s;
  }

  &:checked {
    ~ [type=checkbox],
    ~ [type=checkbox] + label {
      opacity: 1;
      pointer-events: all;
    }
  }
}
