#top {
  background-image: image-url('the-location.jpg');
  background-position: center;

  h1,
  h3.date {
    text-shadow: 0 -2px 0 $white, 2px 0 0 $white, 0 2px 0 $white, -2px 0 0 $white;
  }

  h1 {
    color: $plum;
    font-family: $script-font;
    line-height: .9;
    margin: 0;
    text-transform: lowercase;

    small {
      color: $plum;
      font-family: $script-font;
      font-size: .65em;
    }

    span,
    strong {
      display: block;
    }

    span.wedding-of {
      color: $slate;
      font-family: $block-font;
      font-size: .3em;
      line-height: 1.8;
    }

    .jelena {
      margin-right: .3em;
    }

    .ben {
      margin-left: 1em;
    }

    strong {
      font-size: .5em;
      font-weight: normal;
      line-height: .7;
    }
  }

  h3.date {
    color: $slate;
  }
}
