@font-face {
    font-family: 'Midnight';
    src: font-url('midnight_-webfont.eot');
    src: font-url('midnight_-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('midnight_-webfont.woff2') format('woff2'),
         font-url('midnight_-webfont.woff') format('woff'),
         font-url('midnight_-webfont.ttf') format('truetype'),
         font-url('midnight_-webfont.svg#midnightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Midnight Glyphs';
    src: font-url('bonus_swash_brush-webfont.eot');
    src: font-url('bonus_swash_brush-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('bonus_swash_brush-webfont.woff2') format('woff2'),
         font-url('bonus_swash_brush-webfont.woff') format('woff'),
         font-url('bonus_swash_brush-webfont.ttf') format('truetype'),
         font-url('bonus_swash_brush-webfont.svg#bonus_swash_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tallow Sans TC';
    src: font-url('tallowsanstc-brsh-webfont.eot');
    src: font-url('tallowsanstc-brsh-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('tallowsanstc-brsh-webfont.woff2') format('woff2'),
         font-url('tallowsanstc-brsh-webfont.woff') format('woff'),
         font-url('tallowsanstc-brsh-webfont.ttf') format('truetype'),
         font-url('tallowsanstc-brsh-webfont.svg#tallow_sans_tcbrush') format('svg');
    font-weight: normal;
    font-style: normal;
}
